.drugCard {
  width: 300px;
  height: 600px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  display: none;
}

.text2 {
  margin-left: 2px;
}

.drugCardTop {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  margin: 12px 16px;
}

.elipsis-icon {
  color: #757575;
  font-size: 14px;
}

.indicationHeading {
  color: #35786e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.drugCardImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
}

.saleProcents {
  display: none;
}

.product {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #f1f1f4;
  position: relative;
}

.productImage {
  height: 127px;
  width: 127px;
  position: absolute;
  left: 25px;
  top: 25px;
}

.mandatoryText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #424242;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
  margin-right: 16px;
  margin-top: 16px;
}

.productInfoContainer {
  height: 48px;
  width: 262px;
  color: #424242;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  margin: 16px 16px;
}

.line-break {
  height: 1px;
  width: 300px;
  opacity: 0.1;
  background-color: #000000;
}

.productDosageContainer {
  margin: 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label {
  height: 16px;
  width: 126px;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 6px;
  white-space: nowrap;
}

.amountContainer {
  margin: 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.amountIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minus {
  width: 24px;
  height: 24px;
  background-color: #f1f1f4;
  border-radius: 50%;
  margin-right: 10px;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.amount {
  width: 75px;
  height: 28px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  padding-left: 10px;
}

.amount:focus {
  outline: none;
}

.plus {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #f1f1f4;
  border-radius: 50%;
  cursor: pointer;
}

.amount-icon {
  font-size: 10px;
  opacity: 0.6;
}

.priceContainer {
  margin: 16px 16px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.priceDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 0;
  margin-left: 5px;
}

.shoppingCartIcon {
  height: 44px;
  width: 44px;
  background-color: #aa198d;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informationIcon {
  height: 16px;
  width: 16px;
  background-color: #269e75;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.cart-icon {
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.euroSign {
  margin-right: 4px;
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.discount {
  display: none;
}

.sale .saleProcents {
  display: block;
  position: absolute;
  left: 70%;
  top: -5px;
  width: 60px;
  height: 60px;
  background-color: #269e75;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.sale .priceDiv {
  font-weight: 500;
  color: #fb3449;
}

.sale .discount {
  display: block;
  height: 16px;
  width: 41px;
  color: #757575;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
}

.out-of-stock .shoppingCartIcon {
  background-color: #fb3449;
}

.out-of-stock .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  margin-right: 10px;
  color: #fb3449;
}

.out-of-stock .discount {
  display: block;
  height: 16px;
  width: 41px;
  color: #757575;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #d0d0d0;
}

.select2-container--default .select2-results > .select2-results__options {
  font-size: 14px;
}

.select2-dropdown--below {
  border: none;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #424242;
  font-size: 14px;
}

.buttons {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  width: 200px;
  border-radius: 12px;
  padding: 12px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.optionsBtn {
  height: 45px;
  width: 100px;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #5ac5b5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: white;
}

.optionsBtn:hover {
  background-color: #48a194;
}

.toggled {
  background-color: #35786e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: lightblue;
}

.drugsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shoppingCartIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */