@import "./components/variables";
@import "./components/card";
@import "./views/sale";
@import "./views/outofstock";
@import "./components/inputs";
@import "./components/dropdown";
@import "./components/buttons";

* {
    box-sizing: border-box;
    font-family: $mainFontFamily;
   
}

.container{
    background-color: lightblue;
}

.drugsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.shoppingCartIconContainer {
    display: flex;
    align-items: center;
}

