
.buttons {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    border-radius: 12px;
    padding: 12px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.optionsBtn {
    height: 45px;
    width: 100px;
    font-size: 12px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #5ac5b5;
    transition: 0.2s all;
    color: white;
}

.optionsBtn:hover{
    background-color: #48a194;
}


.toggled{
    background-color: #35786e;
}