.drugCard {
    width: 300px;
    height: 600px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
}

.text {
    display: none;
}

.text2 {
    margin-left: 2px;
}

.drugCardTop {
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 12px 16px;
}

.elipsis-icon {
    color: #757575;
    font-size: 14px;
}

.indicationHeading {
    color: #35786e;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
}

.drugCardImage {
    display: flex;
    justify-content: center;
    margin: 0 16px;
}

.saleProcents {
    display: none;
}

.product {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #f1f1f4;
    position: relative;
}

.productImage {
    height: 127px;
    width: 127px;
    position: absolute;
    left: 25px;
    top: 25px;
}

.mandatoryText {
    display: flex;
    justify-content: flex-end;
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    text-align: right;
    margin-right: 16px;
    margin-top: 16px;
}

.productInfoContainer {
    height: 48px;
    width: 262px;
    color: #424242;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin: 16px 16px;
}

.line-break {
    height: 1px;
    width: 300px;
    opacity: 0.1;
    background-color: #000000;
}

.productDosageContainer {
    margin: 16px 16px;
    display: flex;
    flex-direction: column;
}

.label {
    height: 16px;
    width: 126px;
    color: #757575;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 6px;
    white-space: nowrap;
}


.amountContainer {
    margin: 16px 16px;
    display: flex;
   flex-direction: column;
}

.amountIconsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.minus {
    width: 24px;
    height: 24px;
    background-color: #f1f1f4;
    border-radius: 50%;
    margin-right: 10px;
    padding-top: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
}

.amount {
    width: 75px;
    height: 28px;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    padding-left: 10px;
}

.amount:focus {
    outline: none;
}

.plus {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #f1f1f4;
    border-radius: 50%;
    cursor: pointer;
}

.amount-icon {
    font-size: 10px;
    opacity: 0.6;
}

.priceContainer {
    margin: 16px 16px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceDiv {
    display: flex;
    align-items: center;
    margin: 6px 0;
    margin-left: 5px;
}


.shoppingCartIcon {
    height: 44px;
    width: 44px;
    background-color: #aa198d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationIcon {
    height: 16px;
    width: 16px;
    background-color: #269e75;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

.cart-icon {
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.euroSign {
    margin-right: 4px;
}


.inputContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.discount {
    display: none;
}