.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #d0d0d0;
}

.select2-container--default .select2-results > .select2-results__options {
    font-size: 14px;
}

.select2-dropdown--below {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #424242;
    font-size: 14px;
}