.out-of-stock {
    .shoppingCartIcon {
        background-color: $mainRedColor;
    }

    .text {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin-right: 10px;
        color: $mainRedColor;
    }

    .discount {
        display: block;
        height: 16px;
        width: 41px;
        color: #757575;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 16px;
        text-align: right;
    }
}