.sale {
    .saleProcents {
        display: block;
        position: absolute;
        left: 70%;
        top: -5px;
        width: 60px;
        height: 60px;
        background-color: #269e75;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }

    .priceDiv {
        font-weight: 500;
        color: $mainRedColor;
    }

    .discount {
        display: block;
        height: 16px;
        width: 41px;
        color: #757575;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 16px;
        text-align: right;
    }
}